ServicoTesteSoapUi/WebContent/wsdl/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapUI.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapUI.com.br" xmlns:intf="http://soapUI.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapUI.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="somar">
    <complexType>
     <sequence>
      <element name="numero1" type="xsd:int"/>
      <element name="numero2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="somarResponse">
    <complexType>
     <sequence>
      <element name="somarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtrair">
    <complexType>
     <sequence>
      <element name="numero1" type="xsd:int"/>
      <element name="numero2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtrairResponse">
    <complexType>
     <sequence>
      <element name="subtrairReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicar">
    <complexType>
     <sequence>
      <element name="numero1" type="xsd:int"/>
      <element name="numero2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicarResponse">
    <complexType>
     <sequence>
      <element name="multiplicarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="dividir">
    <complexType>
     <sequence>
      <element name="numero1" type="xsd:int"/>
      <element name="numero2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="dividirResponse">
    <complexType>
     <sequence>
      <element name="dividirReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="dividirResponse">

      <wsdl:part element="impl:dividirResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somarRequest">

      <wsdl:part element="impl:somar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtrairRequest">

      <wsdl:part element="impl:subtrair" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="subtrairResponse">

      <wsdl:part element="impl:subtrairResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicarRequest">

      <wsdl:part element="impl:multiplicar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="somarResponse">

      <wsdl:part element="impl:somarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicarResponse">

      <wsdl:part element="impl:multiplicarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="dividirRequest">

      <wsdl:part element="impl:dividir" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Calculadora">

      <wsdl:operation name="somar">

         <wsdl:input message="impl:somarRequest" name="somarRequest">

       </wsdl:input>

         <wsdl:output message="impl:somarResponse" name="somarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtrair">

         <wsdl:input message="impl:subtrairRequest" name="subtrairRequest">

       </wsdl:input>

         <wsdl:output message="impl:subtrairResponse" name="subtrairResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdl:input message="impl:multiplicarRequest" name="multiplicarRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicarResponse" name="multiplicarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dividir">

         <wsdl:input message="impl:dividirRequest" name="dividirRequest">

       </wsdl:input>

         <wsdl:output message="impl:dividirResponse" name="dividirResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculadoraSoapBinding" type="impl:Calculadora">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="somar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="somarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="somarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtrair">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtrairRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtrairResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="dividir">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="dividirRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="dividirResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculadoraService">

      <wsdl:port binding="impl:CalculadoraSoapBinding" name="Calculadora">

         <wsdlsoap:address location="http://localhost:8080/ServicoTesteSoapUi/services/Calculadora"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
